div.round{
    border-width: 10px;
    border-style: double;
    border-color: blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;

   }
   div.oval{
    border-width: 10px;
    border-style: double;
    border-color: rgb(255, 208, 0);
    border-radius: 50%;

   }
   div.nokia{
    background-image: url(./dog.jpg);
    background-size: cover;
    border-width: 10px;
    box-shadow: 5px 5px 10px red ;
    border-style: double;
    border-color: rgb(255, 0, 0);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width:80px;
    height: 80px;
    
   }

   div.testimo{
    border-width: 10px;
    border-style: double;
    border-color: blue;
    background: rgba(82, 79, 79, 0.5);

   }
   div.testcol{
        display: block;
        border: 3px dotted red;
        padding:5px;
        margin:5px auto;
        /* margin-top: 1px;
        margin-bottom: 1px; */
        max-width: 900px;
        max-height: 400px;
        opacity: 0.9;

   }
    div#end2top{
        text-align: center;
    }

     div,p{
        text-transform:none;
    }
    
    div p{
        /* text-decoration will not work if any header size set already in html */
        text-decoration: underline;
        max-width: 500px;
    }
    span.testcol{
        display: block;
        border: 3px double rgb(43, 255, 0);
        padding:5px;
        margin:3px auto;
        /* margin-top: 1px;
        margin-bottom: 1px; */
        width: 900px;
        height: 400px;


    }

   body{
        background-image: url(./dog.jpg);
        background-color: rgb(224, 218, 28);
        background-size:contain;
        background-repeat: no-repeat;
        background-position:center center;

        
    }
    h1 {
    color: rgb(255, 0, 51);
    }

    .blue {
        color: blue;
    }

   

    a:hover{font-size: 20px;}
    a:active{
        color: yellow;
        /* text-decoration:underline ; */
    }
    a:visited{color: red;}